.question3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.question3 img{
    margin-top: 40px;
    /* border: 1px solid black; */
}

.question3 p{
    font-size: 20px;
    margin-top: 30px;
    
}
