.courseHeading{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.number{
    background-color: rgba(130, 146, 238,0.4);
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: rgb(82, 106, 243);
    margin-right: 20px;
}
.heading h1{
    font-size: 24px;
    font-weight: 600;
}
.heading p{
    font-size: 16px;
    color:rgba(0,0,0,0.5);
}

.collapse:hover{
    color: black;
    cursor: pointer;
}